
	<!-- START MOBILE / TABLET NAVBAR -->	
	<nav id="mobile-nav-main-tag" class="d-md-none d-lg-none d-xl-none navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="index">
			<img id="navbar-logo-mobile-img" style="padding-left: 30px; max-height: 40px; width: auto;" src="./img/east-end-ink-mobile-logo-height-40px.png" />
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobileNavbarID" aria-controls="mobileNavbarID" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div style="padding-left: 15px; padding-top: 20px;" class="collapse navbar-collapse" id="mobileNavbarID">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item {{ active.home }}">
					<a class="nav-link" href="index">Home </a>
				</li>
				<li class="nav-item {{ active.products }}">
					<a class="nav-link" href="products">Products</a>
				</li>
				<li class="nav-item {{ active.services }}">
					<a class="nav-link" href="services">Services</a>
				</li>
				<li class="nav-item {{ active.designs }}">
					<a class="nav-link" href="designs">Designs</a>
				</li>
				<li class="nav-item {{ active.quoteRequest }}">
					<a class="nav-link" href="quote-request">Request a Quote</a>
				</li>
			</ul>
		</div>
	</nav>
    <!-- END MOBILE / TABLET NAVBAR -->


	<!-- START DESKTOP NAVBAR -->
	<div id="desktop-navbar-outer-wrap" class="d-xs-none zach-navbar-wrapper">
		<div id="desktop-navbar-inner-wrap" class="d-xs-none zach-navbar-inner-content-wrapper">

			<div class="company-logo-wrapper">
				<a href="index">
					<img class="navbar-company-logo" src="./img/east-end-ink-logo-large-width-1288-on-dark.png" />
				</a>
			</div>

			<div class="navbar-connect-with-us-wrapper">
				<div class="top-connect-with-us-section-nav">
					<a id="contact-us-dropdown-activate" class="contact-us-link" href="#">
						<h5 class="top-navbar-tiny-text">CONTACT US</h5>
					</a>

				</div>
				<div class="bottom-connect-with-us-section-nav">

					<a class="top-nav-social-media-link" href="http://www.linkedin.com" target="_blank">
						<img class="tiny-navbar-social-img" src="./img/icons/linkedin-circle-logo-white-128.png" />
						<img class="tiny-navbar-social-img-hover" src="./img/icons/linkedin-circle-logo-kelly-green-128.png" />
					</a>


					<a class="top-nav-social-media-link" href="http://www.linkedin.com" target="_blank">
						<img class="tiny-navbar-social-img" src="./img/icons/google-plus-circle-logo-white-128.png" />
						<img class="tiny-navbar-social-img-hover" src="./img/icons/google-plus-circle-logo-kelly-green-128.png" />
					</a>

					<a class="top-nav-social-media-link" href="http://www.linkedin.com" target="_blank">
						<img class="tiny-navbar-social-img" src="./img/icons/facebook-circle-logo-white-128.png" />
						<img class="tiny-navbar-social-img-hover" src="./img/icons/facebook-circle-logo-kelly-green-128.png" />
					</a>

					<a class="top-nav-social-media-link" href="http://www.linkedin.com" target="_blank">
						<img class="tiny-navbar-social-img" src="./img/icons/instagram-circle-logo-white-128.png" />
						<img class="tiny-navbar-social-img-hover" src="./img/icons/instagram-circle-logo-kelly-green-128.png" />
					</a>

					<a class="top-nav-social-media-link" href="http://www.linkedin.com" target="_blank">
						<img class="tiny-navbar-social-img" src="./img/icons/twitter-circle-logo-white-128.png" />
						<img class="tiny-navbar-social-img-hover" src="./img/icons/twitter-circle-logo-kelly-green-128.png" />
					</a>

				</div>
			</div>

			<div class="navbar-main-options-wrapper">
				<ul class="zach-navbar-ul">
					<li class="zach-navbar-li">
						<a class="{{ active.products }}" href="products">PRODUCTS</a>
					</li>
					<li class="zach-navbar-li">
						<a class="{{ active.services }}" href="services">SERVICES</a>
					</li>
					<li class="zach-navbar-li">
						<a class="{{ active.designs }}" href="designs">DESIGNS</a>
					</li>
					<li class="zach-navbar-li">
						<a class="{{ active.quoteRequest }}" href="quote-request">REQUEST A QUOTE</a>
					</li>
				</ul>
			</div>

		</div>
	</div>
	<!-- END DESKTOP NAVBAR -->

	<div id="contact-us-form-nav-dropdown">
		<form id="dropdown-contact-form" method="post" action="/drop-down-contact-form">

			<p style="text-align: left; padding-left: 8px; padding-bottom: 4px;" class="fancy-form-field-header">Name:</p>
			<input type="text" id="name" name="name" class="dropdown-contact-form-text-input" required>

			<p style="text-align: left; padding-left: 8px; padding-bottom: 4px;" class="fancy-form-field-header">Email: </p>
			<input type="email" id="email" name="email" class="dropdown-contact-form-text-input" required>

			<p style="text-align: left; padding-left: 8px; padding-bottom: 4px;" class="fancy-form-field-header">Message: </p>
			<textarea id="message" name="message" rows="6" class="dropdown-contact-form-message" required></textarea>

			<button class="dropdown-form-submit-btn" type="submit">Send</button>

		</form>
	</div>